.restaurant

.cards
  display: flex
  flex-flow: row wrap
  justify-content: center

.el-card
  flex: 1 1 auto
  width: 30%
  min-width: 270px
  margin: 10px
  border-radius: 0
  .image
    width: 100%


